<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crimereport"
    android:targetSandboxVersion="2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.example.crimereport.login" >
        </activity>
        <activity android:name="com.example.crimereport.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.crimereport.Signing" />

        <activity android:name="com.example.crimereport.visitor" />
        <activity android:name="com.example.crimereport.emergency" />
        <activity android:name="com.example.crimereport.Types" />
        <activity android:name="com.example.crimereport.Wanted" />
        <activity android:name="com.example.crimereport.Middle" />
        <activity android:name="com.example.crimereport.Register" />
        <activity android:name="com.example.crimereport.Profile" />
        <activity android:name="com.example.crimereport.View1" />
    </application>

</manifest>